# Configuration file

~CONFIG_VERSION: 0.1.0

world-1206104397 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@forestry
    B:overlayEnabled=true
}


world-1431591077 {
    B:bookmarkOverlayEnabled=false
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@mmm
    B:overlayEnabled=true
}


world-1793302550 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=bread
    B:overlayEnabled=true
}


world-1793302551 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1823839288 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@tinkers
    B:overlayEnabled=true
}


world-1823839289 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=iron axe
    B:overlayEnabled=true
}


world-1823839290 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=salt
    B:overlayEnabled=true
}


world-1823839291 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=copper ingot
    B:overlayEnabled=true
}


world-1974054333 {
    # Show the list of bookmarks next to open GUIs.
    B:bookmarkOverlayEnabled=true

    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=false

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=@compressed

    # Show the list of ingredients next to open GUIs.
    B:overlayEnabled=true
}


world-704443035 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@red
    B:overlayEnabled=true
}


world-704443186 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=bone
    B:overlayEnabled=true
}


world-78688046 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-91535244 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=flaked
    B:overlayEnabled=true
}


world10529735 {
    B:bookmarkOverlayEnabled=false
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=flint a
    B:overlayEnabled=true
}


world110251488 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1279292737 {
    # Show the list of bookmarks next to open GUIs.
    B:bookmarkOverlayEnabled=true

    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=false

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=

    # Show the list of ingredients next to open GUIs.
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world1690200562 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@sampl
    B:overlayEnabled=true
}


world1855637915 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=water
    B:overlayEnabled=true
}


world1861277132 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=copper ore
    B:overlayEnabled=true
}


world1865016289 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=rock
    B:overlayEnabled=true
}


world1980930156 {
    B:bookmarkOverlayEnabled=false
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=slab
    B:overlayEnabled=true
}


world242090550 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=work blade
    B:overlayEnabled=true
}


world3556498 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world752777857 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=copper ore
    B:overlayEnabled=true
}


world785103634 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@forestry
    B:overlayEnabled=true
}


world855567148 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world856609915 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@sampl
    B:overlayEnabled=true
}


