# Configuration file

config {
    # Amount of ores required to generate a sample of that type [range: 0 ~ 100, default: 15]
    I:"Amount of ores to create a surface sample"=1

    # Amount of samples to generate in a chunk per ore type [range: 0 ~ 16, default: 3]
    I:"Amount of samples per chunk"=1

    #  Will not exceed oresPerSample config [default: true]
    B:"Count ores in chunk and control the amount of samples thereafter"=true

    # Whitelist of the dimensions to generate samples in
    I:"Dimension whitelist" <
        0
     >

    # Ores to create and spawn samples of in the form 'name|colortint|type|drop', name is the oredict entry without the 'ore' infront ( oreIron -> Iron), colortint is in int-color value, type is either gem or ore (look of the sample, see cursepage for image examples), drop can either be in oreDict form of 'nugget,dust,bar,plate, gem or block' of the material you defined in the start or definied personally with 'Mod:item:meta'
    S:"Ores samples" <
        Copper|15888396|ore
     >
}


